body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-right: 150px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;

}

.logo {
    padding-left: 150px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    gap: 10px;
}

.hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero-description {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-right {
    padding-right: 150px;
}

.sign-up-button {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 20%;
}

.info-section {
    
}

.info-headline {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.info-boxes-full {
    display: flex;
    flex-direction: column;
    width: 150px;

}

.info-pictures {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 30px;
}

.info-subtext {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-text {
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    display: flex;
    justify-content: end;
    padding-right: 25%;
}

.call-to-action-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-box {
    height: 50%;
    width: 75%;
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    color: #E5E7EB;
    border-radius: 10px;
    align-items: center;
}

.call-to-action-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action-headline {
    font-weight: bolder;
    font-size: 24px;
}

.call-to-action-button {
    height: 30%;
    width: 15%;
    text-align: center;
    border: 1px;
    border-radius: 10px;
    border-color: #E5E7EB;
    background-color: #3882F6;
}